@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

.container-cliente-fondo {
    margin-top: 10%;
    font-family: "Barlow", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vh;
    background-color: #E4E4E4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.recliente-container {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.recliente-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recliente-form-label {
    float: left;
    width: 100%;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
}

.recliente-input {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

.recliente-button {
    width: 50%;
    background-color: #FDDD00;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    font-weight: bold;
    margin-right: 10px;
}

.recliente-button:hover {
    background-color: #e6c600;
}

.recliente-button.ml-2 {
    width: 50%;
    background-color: #6F6F6F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    font-weight: bold;
    margin-left: 8px;
}

.recliente-button + .recliente-button {
  margin-left: 8px; /* Ajusta el espaciado según tu necesidad */
}