/* Footer.css */
.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0; /* Adjust as necessary */
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.footer-container .social-icon {
  margin: 0 10px;
  color: #ffffff;
  transition: transform 0.3s;
}

.footer-container .social-icon:hover {
  transform: scale(1.2);
  color: #ff5722; /* Optional: Change color on hover */
}

.footer-container .text-center {
  text-align: center;
}
